<!doctype html>
<html lang="en">
<head>


<html lang="en" xmlns:th="http://www.thymeleaf.org"><title>CSS Example</title> 

<link rel="stylesheet" type="text/css" href=""
	th:href="@{/css/mycss.css}">

</head>
<body>

	<div class="container">

		<img src="" alt="" th:src="@{/images/nature.png}" />
		<h1>Adding css</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ab
			saepe tempore dicta esse accusantium odio. Minima dolor nihil
			reprehenderit odio architecto minus quae maiores earum debitis
			quaerat sed fugiat.</p>

	</div>

	<script src="" th:src="@{/js/myjs.js}"></script>

</body>
</html>